/* line 17, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ColaborativaSemibold';
  src: url("fonts/colaborativasemibold-webfont.eot");
  src: url("fonts/colaborativasemibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativasemibold-webfont.woff") format("woff"), url("fonts/colaborativasemibold-webfont.ttf") format("truetype"), url("fonts/colaborativasemibold-webfont.svg#ColaborativaSemiboldRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaBook';
  src: url("fonts/colaborativabook-webfont.eot");
  src: url("fonts/colaborativabook-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativabook-webfont.woff") format("woff"), url("fonts/colaborativabook-webfont.ttf") format("truetype"), url("fonts/colaborativabook-webfont.svgz#colaborativaBook") format("svg"), url("fonts/colaborativabook-webfont.svg#colaborativaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMedium';
  src: url("fonts/colaborativamedium-webfont.eot");
  src: url("fonts/colaborativamedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamedium-webfont.woff") format("woff"), url("fonts/colaborativamedium-webfont.ttf") format("truetype"), url("fonts/colaborativamedium-webfont.svgz#colaborativaMedium") format("svg"), url("fonts/colaborativamedium-webfont.svg#colaborativaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMediumItalic';
  src: url("fonts/colaborativamediumitalic-webfont.eot");
  src: url("fonts/colaborativamediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamediumitalic-webfont.woff") format("woff"), url("fonts/colaborativamediumitalic-webfont.ttf") format("truetype"), url("fonts/colaborativamediumitalic-webfont.svgz#colaborativaMediumItalic") format("svg"), url("fonts/colaborativamediumitalic-webfont.svg#colaborativaMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaLight';
  src: url("fonts/colaborativa-light-webfont.eot");
  src: url("fonts/colaborativa-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-light-webfont.woff") format("woff"), url("fonts/colaborativa-light-webfont.ttf") format("truetype"), url("fonts/colaborativa-light-webfont.svgz#colaborativa-light") format("svg"), url("fonts/colaborativa-light-webfont.svg#colaborativa-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativa-icons';
  src: url("fonts/colaborativa-icons-regular-webfont.eot");
  src: url("fonts/colaborativa-icons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-icons-regular-webfont.woff") format("woff"), url("fonts/colaborativa-icons-regular-webfont.ttf") format("truetype"), url("fonts/colaborativa-icons-regular-webfont.svg#colaborativa-iconsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansRegular';
  src: url("fonts/DroidSans-webfont.eot");
  src: url("fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-webfont.woff") format("woff"), url("fonts/DroidSans-webfont.ttf") format("truetype"), url("fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansBold';
  src: url("fonts/DroidSans-Bold-webfont.eot");
  src: url("fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-Bold-webfont.woff") format("woff"), url("fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("fonts/DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #c8c8c8;
}
/* line 14, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(190, 190, 190, 0.7)), color-stop(100%, rgba(190, 190, 190, 0)));
  background: -webkit-linear-gradient(rgba(190, 190, 190, 0.7), rgba(190, 190, 190, 0));
  background: -moz-linear-gradient(rgba(190, 190, 190, 0.7), rgba(190, 190, 190, 0));
  background: -o-linear-gradient(rgba(190, 190, 190, 0.7), rgba(190, 190, 190, 0));
  background: -ms-linear-gradient(rgba(190, 190, 190, 0.7), rgba(190, 190, 190, 0));
  background: linear-gradient(rgba(190, 190, 190, 0.7), rgba(190, 190, 190, 0));
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 16, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  background: url('/imagenes/background.png?1331221128'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, rgba(250, 250, 250, 0)));
  background: url('/imagenes/background.png?1331221128'), -webkit-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), -moz-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), -o-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), -ms-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
}
/* line 21, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 27, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina h1.hero {
  color: #343434;
  text-shadow: 0 1px #ffffff;
  font: 24px/50px "colaborativasemibold";
}
/* line 32, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina nav h3 {
  margin-top: 10px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: #929292;
}
/* line 46, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor {
  padding-top: 2px;
  padding-bottom: 4px;
  margin-right: auto;
  margin-left: auto;
}
/* line 51, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 32px;
  display: table;
}
/* line 54, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 57, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda a:hover, html body .cabeceraPagina .contenedor .tituloMenuBusqueda a:hover.active {
  color: #00a9da;
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.5);
}
/* line 61, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda a:active {
  color: #1B70B9;
}
/* line 65, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 1px;
  width: 15%;
  resize: none;
}
/* line 73, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 6px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 82, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 86, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 92, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 94, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 102, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 111, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 115, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 119, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}
/* line 126, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuContacto:before {
  content: "\f000";
}

/* line 140, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html .imagenes .cabeceraPagina {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
}
/* line 145, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html .imagenes .cabeceraPagina .tituloMenuBusqueda .hero a {
  color: white;
  text-shadow: none;
}
/* line 151, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html .imagenes .cabeceraPagina .tituloMenuBusqueda .menu a {
  color: white;
  text-shadow: none;
}

@media (max-width: 767px) {
  /* line 184, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, rgba(250, 250, 250, 0)));
    background-image: -webkit-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
    background-image: -moz-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
    background-image: -o-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
    background-image: -ms-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
    background-image: linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  }
  /* line 192, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor {
    margin-right: auto;
    margin-left: auto;
  }
  /* line 195, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda {
    width: 100%;
    height: auto;
  }
  /* line 198, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
    display: block;
    width: 100%;
    resize: none;
    height: auto;
    padding-bottom: 10px;
  }
  /* line 205, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* esto sirve para alinear perfectamente el titulo */
  }
  /* line 212, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
    display: none;
  }
  /* line 215, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu {
    display: block;
    width: 100%;
  }
  /* line 218, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
    display: block;
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: #d7d7d7 0 1px 0px, white 0 2px 0px;
    -moz-box-shadow: #d7d7d7 0 1px 0px, white 0 2px 0px;
    box-shadow: #d7d7d7 0 1px 0px, white 0 2px 0px;
  }
  /* line 225, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li:last-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 228, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a:link {
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 15px 10px 0px;
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px / 0px;
    -ms-border-radius: 0px / 0px;
    -o-border-radius: 0px / 0px;
    border-radius: 0px / 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /* line 235, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a:hover, html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li .cabeceraPagina .menu li a:hover.active {
    background-color: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /* line 239, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a.active {
    background-color: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /* line 243, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a:before {
    font: 28px "colaborativa-icons";
    padding-right: 6px;
    position: relative;
    top: 3px;
  }
}
@media (min-width: 768px) and (max-width: 989px) {
  /* line 263, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  #menuContacto {
    display: none;
  }

  /* line 164, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .funnyline {
    border-bottom: 1px solid rgba(210, 210, 210, 0.2);
  }
  /* line 168, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor {
    width: 724px;
  }
}
@media (min-width: 990px) {
  /* line 270, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  #menuContacto {
    display: none;
  }

  /* line 164, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .funnyline {
    border-bottom: 1px solid rgba(210, 210, 210, 0.2);
  }
  /* line 168, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor {
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 277, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  #menuContacto {
    display: none;
  }

  /* line 164, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .funnyline {
    border-bottom: 1px solid rgba(210, 210, 210, 0.2);
  }
  /* line 168, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  html body .cabeceraPagina .contenedor {
    width: 1170px;
  }
}
/* line 16, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
.footerGradient {
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.7)));
  background: -webkit-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -moz-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -o-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -ms-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 90px;
  clear: both;
}

/* line 25, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer {
  background-color: rgba(210, 210, 210, 0.7);
}
/* line 27, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer a:link {
  color: #393939;
  border: none;
}
/* line 31, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor {
  margin: auto;
  padding-bottom: 50px;
}
/* line 34, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto {
  display: table;
  width: 100%;
}
/* line 37, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto .emailTelAddress {
  display: table-cell;
}
/* line 40, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto .anade {
  display: table-cell;
}
/* line 43, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p {
  font: 18px/23px "colaborativasemibold";
}
/* line 45, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a:link, footer .contenedor .datosContacto p a:visited {
  color: #393939;
  opacity: 0.8;
}
/* line 48, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a:link:hover, footer .contenedor .datosContacto p a:visited:hover {
  color: #393939;
  opacity: 1;
}
/* line 52, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a:link:active, footer .contenedor .datosContacto p a:visited:active {
  color: #393939;
  opacity: 1;
}
/* line 57, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a:before, footer .contenedor .datosContacto p a:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 63, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a.mail:before {
  content: "\f002";
}
/* line 66, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a.tel:before {
  content: "\f004";
}
/* line 69, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a.address:before {
  content: "\f001";
}
/* line 72, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .datosContacto p a.anade:after {
  content: "\f041";
}
/* line 77, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos {
  padding: 20px 0px 24px 0px;
  display: table;
  margin: auto;
}
/* line 81, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 86, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales:first-child {
  margin-right: 50px;
}
/* line 89, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales:last-child {
  margin-left: 50px;
}
/* line 92, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales div {
  display: inline-block;
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 99, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a:link, footer .contenedor .enlacesExternos .enlacesSociales a:visited {
  color: #393939;
  opacity: 0.6;
}
/* line 102, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a:link:hover, footer .contenedor .enlacesExternos .enlacesSociales a:visited:hover {
  color: #393939;
  opacity: 0.8;
}
/* line 106, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a:link:active, footer .contenedor .enlacesExternos .enlacesSociales a:visited:active {
  color: #393939;
  opacity: 0.8;
}
/* line 111, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno {
  font: 14px/14px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  width: 100px;
  display: block;
}
/* line 116, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales {
  text-align: left;
}
/* line 119, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos {
  text-align: right;
}
/* line 122, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales:before, footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 128, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='twitter.com']:before {
  content: "\f028";
}
/* line 131, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='facebook.com']:before {
  content: "\f023";
}
/* line 134, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='linkedin.com']:before {
  content: "\f027";
}
/* line 137, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='youtube.com']:after {
  content: "\f029";
}
/* line 140, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='github.com']:after {
  content: "\f006";
}
/* line 143, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='flickr.com']:after {
  content: "\f024";
}
/* line 146, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='issuu.com']:after {
  content: "\f026";
}
/* line 151, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .credits {
  height: 32px;
}
/* line 153, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .credits p {
  font: 12px/16px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: #393939;
  opacity: 0.6;
}
/* line 158, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .credits p a:link, footer .contenedor .credits p a:visited {
  color: #393939;
  opacity: 0.8;
}
/* line 161, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .credits p a:link:hover, footer .contenedor .credits p a:visited:hover {
  color: #393939;
  opacity: 1;
}
/* line 165, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
footer .contenedor .credits p a:link:active, footer .contenedor .credits p a:visited:active {
  color: #393939;
  opacity: 1;
}

@media (min-width: 768px) and (max-width: 989px) {
  /* line 176, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
  footer .contenedor {
    width: 724px;
  }
}
@media (min-width: 990px) {
  /* line 176, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
  footer .contenedor {
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 176, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_footerpaginaResponsive.scss */
  footer .contenedor {
    width: 1170px;
  }
}
/* line 3, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 4, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 5, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_clearfix.scss */
.clearfix {
  zoom: 1;
}

/* line 19, ../sass/screen-home.scss */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #393939;
}

/* line 39, ../sass/screen-home.scss */
.selectorProyectos {
  display: table;
  margin: 330px auto 0px auto;
  padding: 20px 0px 20px 0px;
}
/* line 43, ../sass/screen-home.scss */
.selectorProyectos ul {
  padding-top: 5px;
}
/* line 45, ../sass/screen-home.scss */
.selectorProyectos ul li {
  display: inline;
  cursor: pointer;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: none;
}
/* line 52, ../sass/screen-home.scss */
.selectorProyectos ul li a {
  display: none;
}
/* line 55, ../sass/screen-home.scss */
.selectorProyectos ul li:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #5A5A5A;
  content: "\25CF";
  font-size: 20px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s false;
}
/* line 62, ../sass/screen-home.scss */
.selectorProyectos ul li:hover:after {
  color: #B6B6B6;
}
/* line 65, ../sass/screen-home.scss */
.selectorProyectos ul li:active:after {
  color: white;
}
/* line 68, ../sass/screen-home.scss */
.selectorProyectos ul li.activo:after {
  color: white;
}
/* line 72, ../sass/screen-home.scss */
.selectorProyectos ul:after {
  clear: both;
  display: table;
  content: "";
}

/* line 79, ../sass/screen-home.scss */
body {
  background-repeat: repeat;
  background-color: #fafafa;
}
/* line 82, ../sass/screen-home.scss */
body .contenedor {
  width: 940px;
  margin: 0px auto;
}
/* line 85, ../sass/screen-home.scss */
body .contenedor .posterProyecto {
  width: 1500px;
  height: 1100px;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -750px;
  z-index: -100;
}
/* line 94, ../sass/screen-home.scss */
body .contenedor .novedades {
  padding-top: 20px;
  border-top: 1px solid #bebebe;
}
/* line 97, ../sass/screen-home.scss */
body .contenedor .novedades h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 100, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos {
  width: 608px;
  float: left;
}
/* line 101, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 106, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista {
  width: 648px;
}
/* line 108, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article {
  position: relative;
  height: 260px;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  width: 175px;
  border-left: 1px solid #bebebe;
}
/* line 116, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article h3 {
  color: #393939;
  padding-top: 12px;
  font: 18px/20px "colaborativasemibold";
  padding-bottom: 12px;
}
/* line 122, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article h4 {
  color: #393939;
  position: absolute;
  bottom: 0px;
  left: 20px;
  font: 14px/22px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
}
/* line 129, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
  width: 176px;
  height: 117px;
}
/* line 132, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
  width: 176px;
  height: 117px;
  border-bottom: 3px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 3px solid white;
  padding: 3px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
}
/* line 144, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article:first-child {
  border-left: none;
  margin-left: 0px;
  padding-left: 0px;
}
/* line 148, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos .articulosLista article:first-child h4 {
  left: 0px;
}
/* line 154, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesArticulos p {
  color: #898989;
  margin-top: 20px;
  clear: left;
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
}
/* line 161, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets {
  width: 324px;
  float: left;
}
/* line 164, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 167, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets .tweetsLista {
  position: relative;
  width: 324px;
  margin-right: 0px;
  padding-right: 0px;
}
/* line 172, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets .tweetsLista article {
  float: left;
  height: 260px;
  margin-left: 20px;
  padding-left: 20px;
  width: 283px;
  border-left: 1px solid #bebebe;
}
/* line 179, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets .tweetsLista article h3 {
  font: 24px/30px "colaborativaMedium";
  color: #393939;
}
/* line 183, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets .tweetsLista article .tweetFecha {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font: 14px/22px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: right;
  color: #393939;
}
/* line 193, ../sass/screen-home.scss */
body .contenedor .novedades .novedadesTweets .tweetInfo {
  margin-top: 20px;
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: right;
  color: #898989;
}

@media (min-width: 768px) and (max-width: 989px) {
  /* line 206, ../sass/screen-home.scss */
  body .contenedor {
    width: 728px;
  }
  /* line 208, ../sass/screen-home.scss */
  body .contenedor .novedades {
    padding-top: 20px;
  }
  /* line 210, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos {
    width: 470px;
  }
  /* line 212, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista {
    width: 510px;
  }
  /* line 214, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 129px;
  }
  /* line 221, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article h4 {
    left: 20px;
  }
  /* line 224, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
    width: 130px;
    height: 86.667px;
  }
  /* line 227, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
    width: 130px;
    height: 86.667px;
  }
  /* line 234, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos p {
    margin-top: 19px;
  }
  /* line 238, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets {
    width: 255px;
  }
  /* line 240, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetsLista {
    width: 255px;
  }
  /* line 242, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetsLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 214px;
  }
  /* line 249, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetInfo {
    margin-top: 19px;
  }
}
@media (min-width: 990px) {
  /* line 206, ../sass/screen-home.scss */
  body .contenedor {
    width: 940px;
  }
  /* line 208, ../sass/screen-home.scss */
  body .contenedor .novedades {
    padding-top: 20px;
  }
  /* line 210, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos {
    width: 608px;
  }
  /* line 212, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista {
    width: 648px;
  }
  /* line 214, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 175px;
  }
  /* line 221, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article h4 {
    left: 20px;
  }
  /* line 224, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
    width: 176px;
    height: 117.333px;
  }
  /* line 227, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
    width: 176px;
    height: 117.333px;
  }
  /* line 234, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos p {
    margin-top: 19px;
  }
  /* line 238, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets {
    width: 324px;
  }
  /* line 240, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetsLista {
    width: 324px;
  }
  /* line 242, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetsLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 283px;
  }
  /* line 249, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetInfo {
    margin-top: 19px;
  }
}
@media (min-width: 1240px) {
  /* line 206, ../sass/screen-home.scss */
  body .contenedor {
    width: 1170px;
  }
  /* line 208, ../sass/screen-home.scss */
  body .contenedor .novedades {
    padding-top: 30px;
  }
  /* line 210, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos {
    width: 756px;
  }
  /* line 212, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista {
    width: 816px;
  }
  /* line 214, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article {
    height: 260px;
    margin-left: 30px;
    padding-left: 30px;
    width: 211px;
  }
  /* line 221, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article h4 {
    left: 30px;
  }
  /* line 224, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
    width: 212px;
    height: 141.333px;
  }
  /* line 227, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
    width: 212px;
    height: 141.333px;
  }
  /* line 234, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesArticulos p {
    margin-top: 29px;
  }
  /* line 238, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets {
    width: 408px;
  }
  /* line 240, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetsLista {
    width: 408px;
  }
  /* line 242, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetsLista article {
    height: 260px;
    margin-left: 30px;
    padding-left: 30px;
    width: 347px;
  }
  /* line 249, ../sass/screen-home.scss */
  body .contenedor .novedades .novedadesTweets .tweetInfo {
    margin-top: 29px;
  }
}
