/* line 17, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ColaborativaSemibold';
  src: url("fonts/colaborativasemibold-webfont.eot");
  src: url("fonts/colaborativasemibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativasemibold-webfont.woff") format("woff"), url("fonts/colaborativasemibold-webfont.ttf") format("truetype"), url("fonts/colaborativasemibold-webfont.svg#ColaborativaSemiboldRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaBook';
  src: url("fonts/colaborativabook-webfont.eot");
  src: url("fonts/colaborativabook-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativabook-webfont.woff") format("woff"), url("fonts/colaborativabook-webfont.ttf") format("truetype"), url("fonts/colaborativabook-webfont.svgz#colaborativaBook") format("svg"), url("fonts/colaborativabook-webfont.svg#colaborativaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMedium';
  src: url("fonts/colaborativamedium-webfont.eot");
  src: url("fonts/colaborativamedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamedium-webfont.woff") format("woff"), url("fonts/colaborativamedium-webfont.ttf") format("truetype"), url("fonts/colaborativamedium-webfont.svgz#colaborativaMedium") format("svg"), url("fonts/colaborativamedium-webfont.svg#colaborativaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMediumItalic';
  src: url("fonts/colaborativamediumitalic-webfont.eot");
  src: url("fonts/colaborativamediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamediumitalic-webfont.woff") format("woff"), url("fonts/colaborativamediumitalic-webfont.ttf") format("truetype"), url("fonts/colaborativamediumitalic-webfont.svgz#colaborativaMediumItalic") format("svg"), url("fonts/colaborativamediumitalic-webfont.svg#colaborativaMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaLight';
  src: url("fonts/colaborativa-light-webfont.eot");
  src: url("fonts/colaborativa-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-light-webfont.woff") format("woff"), url("fonts/colaborativa-light-webfont.ttf") format("truetype"), url("fonts/colaborativa-light-webfont.svgz#colaborativa-light") format("svg"), url("fonts/colaborativa-light-webfont.svg#colaborativa-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativa-icons';
  src: url("fonts/colaborativa-icons-regular-webfont.eot");
  src: url("fonts/colaborativa-icons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-icons-regular-webfont.woff") format("woff"), url("fonts/colaborativa-icons-regular-webfont.ttf") format("truetype"), url("fonts/colaborativa-icons-regular-webfont.svg#colaborativa-iconsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansRegular';
  src: url("fonts/DroidSans-webfont.eot");
  src: url("fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-webfont.woff") format("woff"), url("fonts/DroidSans-webfont.ttf") format("truetype"), url("fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansBold';
  src: url("fonts/DroidSans-Bold-webfont.eot");
  src: url("fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-Bold-webfont.woff") format("woff"), url("fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("fonts/DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_general.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 4, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_general.scss */
.clearfix:after {
  clear: both;
}

/* line 5, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_general.scss */
.clearfix {
  zoom: 1;
}

/* line 7, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
/* line 12, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(230, 230, 230, 0.8)), color-stop(100%, rgba(230, 230, 230, 0))), url('/imagenes/background.png?1331221128'), #fafafa;
  background: -webkit-linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0)), url('/imagenes/background.png?1331221128'), #fafafa;
  background: -moz-linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0)), url('/imagenes/background.png?1331221128'), #fafafa;
  background: -o-linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0)), url('/imagenes/background.png?1331221128'), #fafafa;
  background: -ms-linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0)), url('/imagenes/background.png?1331221128'), #fafafa;
  background: linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0)), url('/imagenes/background.png?1331221128'), #fafafa;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 13, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina a:link, html body.neutral .cabeceraPagina a:visited, html body.neutral .cabeceraPagina a:active {
  color: #393939;
  text-decoration: none;
}
/* line 17, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 20, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina a:hover, html body.neutral .cabeceraPagina a:hover.active {
  color: #393939;
  text-shadow: rgba(255, 255, 255, 0.7) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}
/* line 38, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}
/* line 42, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 56, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 90px;
  padding: 0px;
}
/* line 62, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 30px;
  display: table;
}
/* line 66, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: #393939;
  font: 24px/50px "colaborativasemibold";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-top: 1px;
  width: 15%;
  resize: none;
  text-shadow: none;
}
/* line 81, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 90, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 93, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  margin-top: 11px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: #393939;
  text-shadow: none;
}
/* line 105, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 111, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 113, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 121, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 128, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 131, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 134, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.neutral .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}

/* line 7, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
/* line 12, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(210, 210, 210, 0.8)), color-stop(100%, rgba(210, 210, 210, 0))), #fafafa;
  background: -webkit-linear-gradient(rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0)), #fafafa;
  background: -moz-linear-gradient(rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0)), #fafafa;
  background: -o-linear-gradient(rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0)), #fafafa;
  background: -ms-linear-gradient(rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0)), #fafafa;
  background: linear-gradient(rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0)), #fafafa;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 13, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina a:link, html body.light .cabeceraPagina a:visited, html body.light .cabeceraPagina a:active {
  color: #393939;
  text-decoration: none;
}
/* line 17, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 20, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina a:hover, html body.light .cabeceraPagina a:hover.active {
  color: #00a9da;
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.5);
}
/* line 38, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}
/* line 42, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 56, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 90px;
  padding: 0px;
}
/* line 62, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 30px;
  display: table;
}
/* line 66, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: #393939;
  font: 24px/50px "colaborativasemibold";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-top: 1px;
  width: 15%;
  resize: none;
  text-shadow: 0 1px #ffffff;
}
/* line 81, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 90, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 93, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  margin-top: 11px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: #393939;
  text-shadow: 0 1px #ffffff;
}
/* line 105, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 111, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 113, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 121, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 128, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 131, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 134, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}

/* line 7, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(210, 210, 210, 0.4);
}
/* line 12, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0))), #393939;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), #393939;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), #393939;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), #393939;
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), #393939;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), #393939;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 13, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina a:link, html body.dark .cabeceraPagina a:visited, html body.dark .cabeceraPagina a:active {
  color: white;
  text-decoration: none;
}
/* line 17, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 20, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina a:hover, html body.dark .cabeceraPagina a:hover.active {
  color: white;
  text-shadow: rgba(255, 255, 255, 0.7) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}
/* line 38, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}
/* line 42, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 56, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 90px;
  padding: 0px;
}
/* line 62, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 30px;
  display: table;
}
/* line 66, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: white;
  font: 24px/50px "colaborativasemibold";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-top: 1px;
  width: 15%;
  resize: none;
  text-shadow: none;
}
/* line 81, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 90, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 93, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  margin-top: 11px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: white;
  text-shadow: none;
}
/* line 105, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 111, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 113, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 121, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 128, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 131, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 134, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}

/* line 168, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.imagenes .cabeceraPagina {
  background: rgba(0, 0, 0, 0.7);
}
/* line 170, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.imagenes .cabeceraPagina .funnyline {
  border-bottom: 1px solid rgba(210, 210, 210, 0.4);
}
/* line 174, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.imagenes .cabeceraPagina .tituloMenuBusqueda a:link, html body.imagenes .cabeceraPagina .tituloMenuBusqueda a:visited, html body.imagenes .cabeceraPagina .tituloMenuBusqueda a:active {
  color: white;
  text-decoration: none;
}
/* line 179, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.imagenes .cabeceraPagina .tituloMenuBusqueda h1 a {
  color: white;
  text-shadow: none;
}
/* line 185, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
html body.imagenes .cabeceraPagina .tituloMenuBusqueda .menu a {
  color: white;
  text-shadow: none;
}

@media (max-width: 989px) {
  /* line 152, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 768px;
  }
  /* line 154, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -364px;
    width: 728px;
  }
}
@media (min-width: 990px) {
  /* line 152, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 980px;
  }
  /* line 154, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -470px;
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 152, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 1230px;
  }
  /* line 154, /Users/javito/Library/WebServer/Documents/colaborativa.github.com/sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -585px;
    width: 1170px;
  }
}
/* line 40, ../sass/screen-articulo.scss */
html body.light {
  background-color: #fafafa;
}
/* line 44, ../sass/screen-articulo.scss */
html body.light .cabeceraPagina .contenedor #fading {
  border-top: 1px solid white;
}
/* line 54, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina a:link, html body.light .cuerpoPagina a:visited, html body.light .cuerpoPagina a:active {
  text-decoration: none;
  color: #393939;
}
/* line 58, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor {
  margin-left: auto;
  margin-right: auto;
}
/* line 62, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .indexTitle {
  font: 26px/30px "colaborativaMedium";
  color: #393939;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40px;
  position: fixed;
  top: 80px;
  height: 70px;
  background-color: #fafafa;
}
/* line 72, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 105px;
  left: 50%;
}
/* line 77, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .resumen {
  padding-bottom: 30px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 25px;
}
/* line 82, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .resumen hgroup h1 {
  font: 26px/30px "colaborativaMedium";
  color: #393939;
  padding-bottom: 20px;
}
/* line 87, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .resumen hgroup h2 {
  font: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: #393939;
  padding-bottom: 20px;
}
/* line 93, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .resumen p {
  font: 12px/18px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: #393939;
}
/* line 98, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList {
  border-bottom: 1px solid #dadada;
}
/* line 100, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList h1 {
  font: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: #393939;
}
/* line 104, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 40px;
  padding: 15px 0px 20px 0px;
  margin: 0px;
}
/* line 110, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet .twitterImagenPerfil {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 8px 0px 0px;
  margin: 0px;
  height: 40px;
}
/* line 117, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet .twitterImagenPerfil img {
  padding: 0px;
  margin: 0px;
}
/* line 122, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet p.tweetTexto {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  font: 12px/18px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: rgba(57, 57, 57, 0.9);
}
/* line 129, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet p.tweetTexto .twitterNombre {
  color: #393939;
}
/* line 132, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet p.tweetTexto .tiempo {
  color: rgba(57, 57, 57, 0.7);
}
/* line 138, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo {
  padding-top: 25px;
}
/* line 140, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 144, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo hgroup h2 {
  font: 24px/20px "colaborativaMedium";
  color: #393939;
  padding-bottom: 25px;
}
/* line 149, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo hgroup h3 {
  font: 16px/17px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: #393939;
}
/* line 153, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo hgroup h4 {
  padding-top: 5px;
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: #393939;
}
/* line 161, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .descripcionArticulo {
  -webkit-transition: opacity 0.5s linear, z-index 0.5s linear;
  -moz-transition: opacity 0.5s linear z-index 0.5s linear;
  -ms-transition: opacity 0.5s linear z-index 0.5s linear;
  -o-transition: opacity 0.5s linear z-index 0.5s linear;
  transition: opacity 0.5s linear, z-index 0.5s linear;
  color: #393939;
  margin-top: 170px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
}
/* line 169, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .descripcionArticulo cite {
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
}
/* line 172, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .descripcionArticulo .imagen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 3px solid white;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
/* line 185, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .descripcionArticulo h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 188, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .descripcionArticulo h2 {
  font: 26px/32px "colaborativaBook";
  margin-top: 20px;
  margin-bottom: 10px;
  color: #393939;
}
/* line 194, ../sass/screen-articulo.scss */
html body.light .cuerpoPagina .contenedor .descripcionArticulo p {
  margin-top: 30px;
  margin-bottom: 30px;
  font: 14px/24px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: #393939;
}

/* line 40, ../sass/screen-articulo.scss */
html body.dark {
  background-color: #393939;
}
/* line 44, ../sass/screen-articulo.scss */
html body.dark .cabeceraPagina .contenedor #fading {
  border-top: 1px solid rgba(250, 250, 250, 0.5);
}
/* line 54, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina a:link, html body.dark .cuerpoPagina a:visited, html body.dark .cuerpoPagina a:active {
  text-decoration: none;
  color: white;
}
/* line 58, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor {
  margin-left: auto;
  margin-right: auto;
}
/* line 62, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .indexTitle {
  font: 26px/30px "colaborativaMedium";
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40px;
  position: fixed;
  top: 80px;
  height: 70px;
  background-color: #393939;
}
/* line 72, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 105px;
  left: 50%;
}
/* line 77, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .resumen {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
  margin-bottom: 25px;
}
/* line 82, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .resumen hgroup h1 {
  font: 26px/30px "colaborativaMedium";
  color: white;
  padding-bottom: 20px;
}
/* line 87, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .resumen hgroup h2 {
  font: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: white;
  padding-bottom: 20px;
}
/* line 93, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .resumen p {
  font: 12px/18px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: white;
}
/* line 98, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList {
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
}
/* line 100, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList h1 {
  font: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: white;
}
/* line 104, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 40px;
  padding: 15px 0px 20px 0px;
  margin: 0px;
}
/* line 110, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet .twitterImagenPerfil {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 8px 0px 0px;
  margin: 0px;
  height: 40px;
}
/* line 117, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet .twitterImagenPerfil img {
  padding: 0px;
  margin: 0px;
}
/* line 122, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet p.tweetTexto {
  display: table-cell;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  font: 12px/18px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
/* line 129, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet p.tweetTexto .twitterNombre {
  color: white;
}
/* line 132, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .tweetList .tweet p.tweetTexto .tiempo {
  color: rgba(255, 255, 255, 0.7);
}
/* line 138, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo {
  padding-top: 25px;
}
/* line 140, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 144, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo hgroup h2 {
  font: 24px/20px "colaborativaMedium";
  color: white;
  padding-bottom: 25px;
}
/* line 149, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo hgroup h3 {
  font: 16px/17px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: white;
}
/* line 153, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .resumenArticulo .categoriaArticulo hgroup h4 {
  padding-top: 5px;
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: white;
}
/* line 161, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .descripcionArticulo {
  -webkit-transition: opacity 0.5s linear, z-index 0.5s linear;
  -moz-transition: opacity 0.5s linear z-index 0.5s linear;
  -ms-transition: opacity 0.5s linear z-index 0.5s linear;
  -o-transition: opacity 0.5s linear z-index 0.5s linear;
  transition: opacity 0.5s linear, z-index 0.5s linear;
  color: white;
  margin-top: 170px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
}
/* line 169, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .descripcionArticulo cite {
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
}
/* line 172, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .descripcionArticulo .imagen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: silver;
  border: none;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* line 185, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .descripcionArticulo h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 188, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .descripcionArticulo h2 {
  font: 26px/32px "colaborativaBook";
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
/* line 194, ../sass/screen-articulo.scss */
html body.dark .cuerpoPagina .contenedor .descripcionArticulo p {
  margin-top: 30px;
  margin-bottom: 30px;
  font: 14px/24px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  color: white;
}

@media (max-width: 989px) {
  /* line 228, ../sass/screen-articulo.scss */
  .contenedor {
    width: 728px;
  }
  /* line 230, ../sass/screen-articulo.scss */
  .contenedor .indexTitle {
    margin-left: 246px;
    width: 478px;
  }
  /* line 234, ../sass/screen-articulo.scss */
  .contenedor .resumenArticulo {
    width: 268px;
    margin-left: -384px;
    padding: 20px 20px 30px 20px;
  }
  /* line 239, ../sass/screen-articulo.scss */
  .contenedor .descripcionArticulo {
    width: 476px;
    margin-left: 248px;
  }
  /* line 242, ../sass/screen-articulo.scss */
  .contenedor .descripcionArticulo .imagen {
    width: 474px;
    height: 316px;
  }

  /* line 211, ../sass/screen-articulo.scss */
  body .cabeceraPagina .contenedor {
    width: 768px;
  }
  /* line 213, ../sass/screen-articulo.scss */
  body .cabeceraPagina .contenedor #fading {
    position: absolute;
    top: 149px;
    margin-left: -20px;
    left: 248px;
    height: 10px;
    opacity: 0;
    width: 516px;
  }

  /* line 257, ../sass/screen-articulo.scss */
  #fading {
    background-image: url(../imagenes/sombra-516.png);
  }
}
@media (min-width: 990px) {
  /* line 228, ../sass/screen-articulo.scss */
  .contenedor {
    width: 940px;
  }
  /* line 230, ../sass/screen-articulo.scss */
  .contenedor .indexTitle {
    margin-left: 318px;
    width: 622px;
  }
  /* line 234, ../sass/screen-articulo.scss */
  .contenedor .resumenArticulo {
    width: 340px;
    margin-left: -490px;
    padding: 20px 20px 30px 20px;
  }
  /* line 239, ../sass/screen-articulo.scss */
  .contenedor .descripcionArticulo {
    width: 620px;
    margin-left: 320px;
  }
  /* line 242, ../sass/screen-articulo.scss */
  .contenedor .descripcionArticulo .imagen {
    width: 618px;
    height: 412px;
  }

  /* line 211, ../sass/screen-articulo.scss */
  body .cabeceraPagina .contenedor {
    width: 980px;
  }
  /* line 213, ../sass/screen-articulo.scss */
  body .cabeceraPagina .contenedor #fading {
    position: absolute;
    top: 149px;
    margin-left: -20px;
    left: 320px;
    height: 10px;
    opacity: 0;
    width: 660px;
  }

  /* line 265, ../sass/screen-articulo.scss */
  #fading {
    background-image: url(../imagenes/sombra-660.png);
  }
}
@media (min-width: 1240px) {
  /* line 228, ../sass/screen-articulo.scss */
  .contenedor {
    width: 1170px;
  }
  /* line 230, ../sass/screen-articulo.scss */
  .contenedor .indexTitle {
    margin-left: 398px;
    width: 772px;
  }
  /* line 234, ../sass/screen-articulo.scss */
  .contenedor .resumenArticulo {
    width: 430px;
    margin-left: -615px;
    padding: 30px 30px 45px 30px;
  }
  /* line 239, ../sass/screen-articulo.scss */
  .contenedor .descripcionArticulo {
    width: 770px;
    margin-left: 400px;
  }
  /* line 242, ../sass/screen-articulo.scss */
  .contenedor .descripcionArticulo .imagen {
    width: 768px;
    height: 512px;
  }

  /* line 211, ../sass/screen-articulo.scss */
  body .cabeceraPagina .contenedor {
    width: 1230px;
  }
  /* line 213, ../sass/screen-articulo.scss */
  body .cabeceraPagina .contenedor #fading {
    position: absolute;
    top: 149px;
    margin-left: -30px;
    left: 400px;
    height: 10px;
    opacity: 0;
    width: 830px;
  }

  /* line 274, ../sass/screen-articulo.scss */
  #fading {
    background-image: url(../imagenes/sombra-830.png);
  }
}
