/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ColaborativaSemibold';
  src: url("fonts/colaborativasemibold-webfont.eot");
  src: url("fonts/colaborativasemibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativasemibold-webfont.woff") format("woff"), url("fonts/colaborativasemibold-webfont.ttf") format("truetype"), url("fonts/colaborativasemibold-webfont.svg#ColaborativaSemiboldRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaBook';
  src: url("fonts/colaborativabook-webfont.eot");
  src: url("fonts/colaborativabook-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativabook-webfont.woff") format("woff"), url("fonts/colaborativabook-webfont.ttf") format("truetype"), url("fonts/colaborativabook-webfont.svgz#colaborativaBook") format("svg"), url("fonts/colaborativabook-webfont.svg#colaborativaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMedium';
  src: url("fonts/colaborativamedium-webfont.eot");
  src: url("fonts/colaborativamedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamedium-webfont.woff") format("woff"), url("fonts/colaborativamedium-webfont.ttf") format("truetype"), url("fonts/colaborativamedium-webfont.svgz#colaborativaMedium") format("svg"), url("fonts/colaborativamedium-webfont.svg#colaborativaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMediumItalic';
  src: url("fonts/colaborativamediumitalic-webfont.eot");
  src: url("fonts/colaborativamediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamediumitalic-webfont.woff") format("woff"), url("fonts/colaborativamediumitalic-webfont.ttf") format("truetype"), url("fonts/colaborativamediumitalic-webfont.svgz#colaborativaMediumItalic") format("svg"), url("fonts/colaborativamediumitalic-webfont.svg#colaborativaMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaLight';
  src: url("fonts/colaborativa-light-webfont.eot");
  src: url("fonts/colaborativa-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-light-webfont.woff") format("woff"), url("fonts/colaborativa-light-webfont.ttf") format("truetype"), url("fonts/colaborativa-light-webfont.svgz#colaborativa-light") format("svg"), url("fonts/colaborativa-light-webfont.svg#colaborativa-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativa-icons';
  src: url("fonts/colaborativa-icons-regular-webfont.eot");
  src: url("fonts/colaborativa-icons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-icons-regular-webfont.woff") format("woff"), url("fonts/colaborativa-icons-regular-webfont.ttf") format("truetype"), url("fonts/colaborativa-icons-regular-webfont.svg#colaborativa-iconsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansRegular';
  src: url("fonts/DroidSans-webfont.eot");
  src: url("fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-webfont.woff") format("woff"), url("fonts/DroidSans-webfont.ttf") format("truetype"), url("fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansBold';
  src: url("fonts/DroidSans-Bold-webfont.eot");
  src: url("fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-Bold-webfont.woff") format("woff"), url("fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("fonts/DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 18, ../sass/_cabecerapaginaResponsive.scss */
.cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 21, ../sass/_cabecerapaginaResponsive.scss */
.cabeceraPagina a:hover, .cabeceraPagina a:hover.active {
  color: #00a9da;
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.5);
}
/* line 25, ../sass/_cabecerapaginaResponsive.scss */
.cabeceraPagina a:active {
  color: #1B70B9;
}

/* line 31, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .funnyline {
  border-bottom: 1px solid rgba(210, 210, 210, 0.2);
}
/* line 34, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .cabeceraPagina {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
/* line 36, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 39, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .cabeceraPagina a:hover, body.oscuro .cabeceraPagina a:hover.active {
  color: white;
  text-shadow: rgba(255, 255, 255, 0.7) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}
/* line 46, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda h1 a:link, body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda h1 a:visited, body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda h1 a:active, body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 a:link, body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 a:visited, body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 a:active {
  color: white;
}
/* line 50, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: white;
  text-shadow: none;
  font: 24px/50px "colaborativasemibold";
}
/* line 56, ../sass/_cabecerapaginaResponsive.scss */
body.oscuro .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  font: 18px/23px "colaborativasemibold";
  color: white;
  text-shadow: none;
}

/* line 67, ../sass/_cabecerapaginaResponsive.scss */
body .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
/* line 72, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(210, 210, 210, 0.7)), color-stop(100%, rgba(210, 210, 210, 0)));
  background: -webkit-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: -moz-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: -o-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: -ms-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 75, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  background: url('/imagenes/background.png?1331221128'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, rgba(250, 250, 250, 0)));
  background: url('/imagenes/background.png?1331221128'), -webkit-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), -moz-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), -o-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), -ms-linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
  background: url('/imagenes/background.png?1331221128'), linear-gradient(#dcdcdc, rgba(250, 250, 250, 0));
}
/* line 80, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 94, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 90px;
  padding: 0px;
}
/* line 100, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 30px;
  display: table;
}
/* line 104, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: #393939;
  text-shadow: 0 1px #ffffff;
  font: 24px/50px "colaborativasemibold";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-top: 1px;
  width: 15%;
  resize: none;
}
/* line 115, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 124, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 127, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  margin-top: 11px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: #393939;
  text-shadow: 0 1px #ffffff;
}
/* line 135, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 141, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 143, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 151, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 158, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 161, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 164, ../sass/_cabecerapaginaResponsive.scss */
body .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}

/* line 180, ../sass/_cabecerapaginaResponsive.scss */
.imagenes .cabeceraPagina {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
}
/* line 185, ../sass/_cabecerapaginaResponsive.scss */
.imagenes .cabeceraPagina .tituloMenuBusqueda .hero a {
  color: white;
  text-shadow: none;
}
/* line 191, ../sass/_cabecerapaginaResponsive.scss */
.imagenes .cabeceraPagina .tituloMenuBusqueda .menu a {
  color: white;
  text-shadow: none;
}

@media (max-width: 989px) {
  /* line 215, ../sass/_cabecerapaginaResponsive.scss */
  #menuContacto {
    display: none;
  }

  /* line 203, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 768px;
  }
  /* line 205, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -364px;
    width: 728px;
  }
}
@media (min-width: 990px) {
  /* line 222, ../sass/_cabecerapaginaResponsive.scss */
  #menuContacto {
    display: none;
  }

  /* line 203, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 980px;
  }
  /* line 205, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -470px;
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 229, ../sass/_cabecerapaginaResponsive.scss */
  #menuContacto {
    display: none;
  }

  /* line 203, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 1230px;
  }
  /* line 205, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -585px;
    width: 1170px;
  }
}
/* line 22, ../sass/_footerpaginaResponsive.scss */
body.oscuro .footerGradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
/* line 25, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 27, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer a:link {
  color: white;
  border: none;
}
/* line 34, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .datosContacto p a:link, body.oscuro footer .contenedor .datosContacto p a:visited {
  color: white;
}
/* line 36, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .datosContacto p a:link:hover, body.oscuro footer .contenedor .datosContacto p a:visited:hover {
  color: white;
}
/* line 39, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .datosContacto p a:link:active, body.oscuro footer .contenedor .datosContacto p a:visited:active {
  color: white;
}
/* line 47, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .enlacesExternos .enlacesSociales a:link, body.oscuro footer .contenedor .enlacesExternos .enlacesSociales a:visited {
  color: white;
  opacity: 0.6;
}
/* line 50, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .enlacesExternos .enlacesSociales a:link:hover, body.oscuro footer .contenedor .enlacesExternos .enlacesSociales a:visited:hover {
  color: white;
  opacity: 0.8;
}
/* line 54, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .enlacesExternos .enlacesSociales a:link:active, body.oscuro footer .contenedor .enlacesExternos .enlacesSociales a:visited:active {
  color: white;
  opacity: 0.8;
}
/* line 62, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .credits p {
  color: white;
  opacity: 0.6;
}
/* line 65, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .credits p a:link, body.oscuro footer .contenedor .credits p a:visited {
  color: white;
  opacity: 0.8;
}
/* line 68, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .credits p a:link:hover, body.oscuro footer .contenedor .credits p a:visited:hover {
  color: white;
  opacity: 1;
}
/* line 72, ../sass/_footerpaginaResponsive.scss */
body.oscuro footer .contenedor .credits p a:link:active, body.oscuro footer .contenedor .credits p a:visited:active {
  color: white;
  opacity: 1;
}

/* line 88, ../sass/_footerpaginaResponsive.scss */
body .footerGradient {
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.7)));
  background: -webkit-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -moz-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -o-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -ms-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 90px;
  clear: both;
  z-index: 50;
}
/* line 98, ../sass/_footerpaginaResponsive.scss */
body footer {
  z-index: 50;
  background-color: rgba(210, 210, 210, 0.7);
}
/* line 101, ../sass/_footerpaginaResponsive.scss */
body footer a:link {
  color: #393939;
  border: none;
}
/* line 105, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor {
  margin: auto;
  padding-bottom: 50px;
}
/* line 108, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto {
  display: table;
  width: 100%;
}
/* line 111, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto .emailTelAddress {
  display: table-cell;
}
/* line 114, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto .anade {
  display: table-cell;
}
/* line 117, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p {
  font: 18px/23px "colaborativasemibold";
}
/* line 119, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a:link, body footer .contenedor .datosContacto p a:visited {
  color: #393939;
  opacity: 0.8;
}
/* line 122, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a:link:hover, body footer .contenedor .datosContacto p a:visited:hover {
  color: #393939;
  opacity: 1;
}
/* line 126, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a:link:active, body footer .contenedor .datosContacto p a:visited:active {
  color: #393939;
  opacity: 1;
}
/* line 131, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a:before, body footer .contenedor .datosContacto p a:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 137, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a.mail:before {
  content: "\f002";
}
/* line 140, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a.tel:before {
  content: "\f004";
}
/* line 143, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a.address:before {
  content: "\f001";
}
/* line 146, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .datosContacto p a.anade:after {
  content: "\f041";
}
/* line 151, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos {
  padding: 20px 0px 24px 0px;
  display: table;
  margin: auto;
}
/* line 155, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 160, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales:first-child {
  margin-right: 50px;
}
/* line 163, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales:last-child {
  margin-left: 50px;
}
/* line 166, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales div {
  display: inline-block;
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 173, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a:link, body footer .contenedor .enlacesExternos .enlacesSociales a:visited {
  color: #393939;
  opacity: 0.6;
}
/* line 176, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a:link:hover, body footer .contenedor .enlacesExternos .enlacesSociales a:visited:hover {
  color: #393939;
  opacity: 0.8;
}
/* line 180, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a:link:active, body footer .contenedor .enlacesExternos .enlacesSociales a:visited:active {
  color: #393939;
  opacity: 0.8;
}
/* line 185, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno {
  font: 14px/14px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  width: 100px;
  display: block;
}
/* line 190, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales {
  text-align: left;
}
/* line 193, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos {
  text-align: right;
}
/* line 196, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales:before, body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 202, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='twitter.com']:before {
  content: "\f028";
}
/* line 205, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='facebook.com']:before {
  content: "\f023";
}
/* line 208, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='linkedin.com']:before {
  content: "\f027";
}
/* line 211, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='youtube.com']:after {
  content: "\f029";
}
/* line 214, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='github.com']:after {
  content: "\f006";
}
/* line 217, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='flickr.com']:after {
  content: "\f024";
}
/* line 220, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='issuu.com']:after {
  content: "\f026";
}
/* line 225, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .credits {
  height: 32px;
}
/* line 227, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .credits p {
  font: 12px/16px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: #393939;
  opacity: 0.6;
}
/* line 232, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .credits p a:link, body footer .contenedor .credits p a:visited {
  color: #393939;
  opacity: 0.8;
}
/* line 235, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .credits p a:link:hover, body footer .contenedor .credits p a:visited:hover {
  color: #393939;
  opacity: 1;
}
/* line 239, ../sass/_footerpaginaResponsive.scss */
body footer .contenedor .credits p a:link:active, body footer .contenedor .credits p a:visited:active {
  color: #393939;
  opacity: 1;
}

@media (max-width: 989px) {
  /* line 256, ../sass/_footerpaginaResponsive.scss */
  body .footerGradient {
    min-width: 768px;
  }
  /* line 259, ../sass/_footerpaginaResponsive.scss */
  body footer {
    min-width: 768px;
  }
  /* line 261, ../sass/_footerpaginaResponsive.scss */
  body footer .contenedor {
    width: 728px;
  }
}
@media (min-width: 990px) {
  /* line 256, ../sass/_footerpaginaResponsive.scss */
  body .footerGradient {
    min-width: 980px;
  }
  /* line 259, ../sass/_footerpaginaResponsive.scss */
  body footer {
    min-width: 980px;
  }
  /* line 261, ../sass/_footerpaginaResponsive.scss */
  body footer .contenedor {
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 256, ../sass/_footerpaginaResponsive.scss */
  body .footerGradient {
    min-width: 1230px;
  }
  /* line 259, ../sass/_footerpaginaResponsive.scss */
  body footer {
    min-width: 1230px;
  }
  /* line 261, ../sass/_footerpaginaResponsive.scss */
  body footer .contenedor {
    width: 1170px;
  }
}
/* line 3, ../sass/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 4, ../sass/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 5, ../sass/_clearfix.scss */
.clearfix {
  zoom: 1;
}

/* line 45, ../sass/screen-home.scss */
.selectorProyectos {
  display: table;
  margin: 330px auto 0px auto;
  padding: 20px 0px 20px 0px;
}
/* line 49, ../sass/screen-home.scss */
.selectorProyectos ul {
  padding-top: 5px;
}
/* line 51, ../sass/screen-home.scss */
.selectorProyectos ul li {
  display: inline;
  cursor: pointer;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: none;
}
/* line 58, ../sass/screen-home.scss */
.selectorProyectos ul li a {
  display: none;
}
/* line 61, ../sass/screen-home.scss */
.selectorProyectos ul li:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.25);
  content: "\25CF";
  font-size: 20px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s false;
}
/* line 68, ../sass/screen-home.scss */
.selectorProyectos ul li:hover:after {
  color: rgba(0, 0, 0, 0.5);
}
/* line 71, ../sass/screen-home.scss */
.selectorProyectos ul li:active:after {
  color: rgba(0, 0, 0, 0.75);
}
/* line 74, ../sass/screen-home.scss */
.selectorProyectos ul li.activo:after {
  color: rgba(0, 0, 0, 0.75);
}
/* line 78, ../sass/screen-home.scss */
.selectorProyectos ul:after {
  clear: both;
  display: table;
  content: "";
}

/* line 86, ../sass/screen-home.scss */
body.oscuro {
  background-color: black;
}
/* line 87, ../sass/screen-home.scss */
body.oscuro a:link, body.oscuro a:visited, body.oscuro a:active {
  color: white;
}
/* line 95, ../sass/screen-home.scss */
body.oscuro .contenedor .selectorProyectos ul li:after {
  color: rgba(255, 255, 255, 0.5);
}
/* line 98, ../sass/screen-home.scss */
body.oscuro .contenedor .selectorProyectos ul li:hover:after {
  color: rgba(255, 255, 255, 0.75);
}
/* line 101, ../sass/screen-home.scss */
body.oscuro .contenedor .selectorProyectos ul li:active:after {
  color: white;
}
/* line 104, ../sass/screen-home.scss */
body.oscuro .contenedor .selectorProyectos ul li.activo:after {
  color: white;
}
/* line 110, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 114, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesArticulos .articulosLista article {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 116, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesArticulos .articulosLista article h3 {
  color: white;
}
/* line 119, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesArticulos .articulosLista article h4 {
  color: white;
}
/* line 123, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: silver;
  border: none;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* line 129, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesArticulos p {
  color: white;
  opacity: 0.8;
}
/* line 136, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesTweets .tweetsLista article {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 138, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesTweets .tweetsLista article h3 {
  color: white;
}
/* line 141, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesTweets .tweetsLista article .tweetFecha {
  color: white;
}
/* line 146, ../sass/screen-home.scss */
body.oscuro .contenedor .novedades .novedadesTweets .tweetInfo {
  color: white;
  opacity: 0.8;
}

/* line 155, ../sass/screen-home.scss */
body {
  width: 100%;
  background-repeat: repeat;
  background-color: rgba(210, 210, 210, 0.7);
}
/* line 157, ../sass/screen-home.scss */
body a:link, body a:visited, body a:active {
  text-decoration: none;
  color: #393939;
}
/* line 163, ../sass/screen-home.scss */
body .contenedorHome {
  margin: 0px auto;
}
/* line 166, ../sass/screen-home.scss */
body .contenedorHome .contenedorPoster {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1100px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -500;
}
/* line 175, ../sass/screen-home.scss */
body .contenedorHome .contenedorPoster .posterProyecto {
  width: 1500px;
  height: 1100px;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -750px;
  z-index: -500;
}
/* line 186, ../sass/screen-home.scss */
body .contenedorHome .novedades {
  padding-top: 20px;
  border-top: 1px solid #bebebe;
}
/* line 189, ../sass/screen-home.scss */
body .contenedorHome .novedades h1 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 192, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos {
  float: left;
}
/* line 193, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 198, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos .articulosLista article {
  position: relative;
  float: left;
  border-left: 1px solid #bebebe;
}
/* line 202, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos .articulosLista article h3 {
  color: #393939;
  padding-top: 12px;
  font: 18px/20px "colaborativasemibold";
  padding-bottom: 12px;
}
/* line 208, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos .articulosLista article h4 {
  color: #393939;
  position: absolute;
  bottom: 0px;
  font: 14px/22px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
}
/* line 215, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
  border-bottom: 3px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 3px solid white;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
}
/* line 225, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos .articulosLista article:first-child {
  border-left: none;
  margin-left: 0px;
  padding-left: 0px;
}
/* line 229, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos .articulosLista article:first-child h4 {
  left: 0px;
}
/* line 235, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesArticulos p {
  color: #898989;
  clear: left;
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
}
/* line 241, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets {
  float: left;
}
/* line 243, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 246, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets .tweetsLista {
  position: relative;
  margin-right: 0px;
  padding-right: 0px;
}
/* line 250, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets .tweetsLista article {
  float: left;
  border-left: 1px solid #bebebe;
}
/* line 253, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets .tweetsLista article h3 {
  font: 24px/30px "colaborativaMedium";
  color: #393939;
}
/* line 257, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets .tweetsLista article .tweetFecha {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font: 14px/22px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: right;
  color: #393939;
}
/* line 267, ../sass/screen-home.scss */
body .contenedorHome .novedades .novedadesTweets .tweetInfo {
  font: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: right;
  color: #898989;
}

@media (max-width: 989px) {
  /* line 279, ../sass/screen-home.scss */
  body .contenedorHome {
    width: 768px;
    min-width: 768px;
    padding-left: 20px;
  }
  /* line 283, ../sass/screen-home.scss */
  body .contenedorHome .contenedorPoster {
    min-width: 768px;
  }
  /* line 286, ../sass/screen-home.scss */
  body .contenedorHome .novedades {
    padding-top: 20px;
  }
  /* line 288, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos {
    width: 470px;
  }
  /* line 290, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista {
    width: 510px;
  }
  /* line 292, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 129px;
  }
  /* line 299, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article h4 {
    left: 20px;
  }
  /* line 302, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
    width: 130px;
    height: 86.667px;
  }
  /* line 305, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
    width: 130px;
    height: 86.667px;
  }
  /* line 312, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos p {
    margin-top: 19px;
  }
  /* line 316, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets {
    width: 255px;
  }
  /* line 318, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetsLista {
    width: 255px;
  }
  /* line 320, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetsLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 214px;
  }
  /* line 327, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetInfo {
    margin-top: 19px;
  }
}
@media (min-width: 990px) {
  /* line 279, ../sass/screen-home.scss */
  body .contenedorHome {
    width: 980px;
    min-width: 980px;
    padding-left: 20px;
  }
  /* line 283, ../sass/screen-home.scss */
  body .contenedorHome .contenedorPoster {
    min-width: 980px;
  }
  /* line 286, ../sass/screen-home.scss */
  body .contenedorHome .novedades {
    padding-top: 20px;
  }
  /* line 288, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos {
    width: 608px;
  }
  /* line 290, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista {
    width: 648px;
  }
  /* line 292, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 175px;
  }
  /* line 299, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article h4 {
    left: 20px;
  }
  /* line 302, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
    width: 176px;
    height: 117.333px;
  }
  /* line 305, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
    width: 176px;
    height: 117.333px;
  }
  /* line 312, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos p {
    margin-top: 19px;
  }
  /* line 316, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets {
    width: 324px;
  }
  /* line 318, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetsLista {
    width: 324px;
  }
  /* line 320, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetsLista article {
    height: 260px;
    margin-left: 20px;
    padding-left: 20px;
    width: 283px;
  }
  /* line 327, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetInfo {
    margin-top: 19px;
  }
}
@media (min-width: 1240px) {
  /* line 279, ../sass/screen-home.scss */
  body .contenedorHome {
    width: 1230px;
    min-width: 1230px;
    padding-left: 30px;
  }
  /* line 283, ../sass/screen-home.scss */
  body .contenedorHome .contenedorPoster {
    min-width: 1230px;
  }
  /* line 286, ../sass/screen-home.scss */
  body .contenedorHome .novedades {
    padding-top: 30px;
  }
  /* line 288, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos {
    width: 756px;
  }
  /* line 290, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista {
    width: 816px;
  }
  /* line 292, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article {
    height: 260px;
    margin-left: 30px;
    padding-left: 30px;
    width: 211px;
  }
  /* line 299, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article h4 {
    left: 30px;
  }
  /* line 302, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo {
    width: 212px;
    height: 141.333px;
  }
  /* line 305, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos .articulosLista article .imagenArticulo a {
    width: 212px;
    height: 141.333px;
  }
  /* line 312, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesArticulos p {
    margin-top: 29px;
  }
  /* line 316, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets {
    width: 408px;
  }
  /* line 318, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetsLista {
    width: 408px;
  }
  /* line 320, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetsLista article {
    height: 260px;
    margin-left: 30px;
    padding-left: 30px;
    width: 347px;
  }
  /* line 327, ../sass/screen-home.scss */
  body .contenedorHome .novedades .novedadesTweets .tweetInfo {
    margin-top: 29px;
  }
}
