@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "fonts/fontfaces";
@import "_cabecerapaginaResponsive";
@import "_general";

$paginaTitulo: 35px/20px "colaborativaLight";
$seccionTitulo: 24px/20px "colaborativaMedium";
$seccionSubtitulo: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
$seccionTexto: 14px/20px "lucida Grande", Geneva, sans-serif;
$textoTitulo: 24px/28px "colaborativaLight";

$proyectoTitulo: 26px/30px "colaborativaMedium";
$proyectoSubtitulo: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
$proyectoBlurb: 14px/24px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;

$articuloTitulo: 26px/32px "colaborativaBook";
$articuloSubtitulo: 16px/17px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
$articuloTexto: 14px/24px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
$articuloCaption: 12px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;

$colorTextoGrisOscuro: #393939;
$colorTextoGrisClaro: #898989;
$borderGrey: #BEBEBE;
$innerborderGrey: #C9C9C9;
$greyLine: 1px solid #DADADA;

a:link, a:visited, a:active{
	text-decoration: none;
	color: $colorTextoGrisOscuro;
}

@mixin imagestyle{
	@include box-sizing (border-box);
	background:white;
	border: 3px solid white;
	@include border-radius(2px, 2px);
	@include single-box-shadow(rgba(0,0,0,0.4), 0px, 0px, 3px, false, false);
}




a{
	color:rgb(80,80,80);
	text-decoration: none;
	&:link{
		color:rgb(80,80,80);
		text-decoration: none;
	}
	&:hover, &:active, &:visited{
		color:rgb(110,110,110);
	}
}

/* todos los estilos de la página */
body{
	background-image: url(/imagenes/background.png);
	background-repeat: repeat;
	background-color: rgb(250,250,250);
	.contenedor{
		margin-left: auto;
		margin-right: auto;
		.indexTitle{
			font: $articuloTitulo;
			color: $colorTextoGrisOscuro;
			@include box-sizing (border-box);
			padding-top:40px;
			position:fixed;
			top:80px;
			left:50%;
			height:77px;
			background-image: url(/imagenes/background.png);
			background-repeat: repeat;
			background-color: rgb(250,250,250);
		}
		.resumenProyecto{
			@include box-sizing (border-box);
			position:fixed;
			top:105px;
			left:50%;
			background: rgb(250,250,250);
			background-image: url(/imagenes/background.png);
			background-repeat: repeat;
			hgroup{
				padding-bottom:30px;
				margin-bottom:25px;
				border-bottom: $greyLine;
			}
			h1{
				font: $proyectoTitulo;
				color: $colorTextoGrisOscuro;
				padding-bottom:25px;
			}
			h2{
				font: $proyectoSubtitulo;
				color: $colorTextoGrisOscuro;
			}
			p{
				font: $proyectoBlurb;
				color: $colorTextoGrisOscuro;
				margin-bottom:15px;
			}
			.navegacion{
				$navWidth: 300px;
				$navHeight: 30px;
				$navbar-border-radius: 4px;
				$navbar-border: 1px solid $borderGrey;
				$navbar-border-inside: 1px solid $innerborderGrey;
				$navbar-font: 12px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
				display:block;
				margin-bottom:25px;
				ul{
					@include box-sizing (border-box);
					border: $navbar-border;
					@include border-radius( $navbar-border-radius,  $navbar-border-radius);
					@include box-shadow(white 0 1px 0px);
					font: $navbar-font;
					li{
						display: inline;
						float:left;
						border-right: $navbar-border-inside;
						@include box-sizing (border-box);
						height: $navHeight;
						a {
							@include user-select(none);
							text-align: center;
							line-height: $navHeight;
							font: $navbar-font;
							display: block;
							@include box-sizing (border-box);
							height: $navHeight;
							padding-top: 8px;
							padding-bottom: 5px;
							text-shadow: 0px 1px rgba(255,255,255,0.75);
							color: rgb(128,128,128);
							&:link, &:visited, &:active, &:hover{
								text-decoration: none;
								@include single-transition(all, 0.5s);
								border-bottom:none;
							}
							&:hover{
								text-shadow: 0px 1px rgba(255,255,255,0.5);
								background: #D8D8D8;
								-moz-box-shadow:    none;
								-webkit-box-shadow: none;
								box-shadow:         none;
								@include single-transition(all, 0s);
							}
							&:active{
								background: #CFCFCF;
								text-shadow: 0px 1px rgba(255,255,255,0.3);
								-moz-box-shadow:    none;
								-webkit-box-shadow: none;
								box-shadow:         none;
							}
							&.activo{
								background: #E5E5E5;
								text-shadow: 0px 1px rgba(255,255,255,0.3);
								-moz-box-shadow:    inset 0px 0px 5px rgba(129,127,127,0.30);
								-webkit-box-shadow: inset 0px 0px 5px rgba(129,127,127,0.30);
								box-shadow:         inset 0px 0px 5px rgba(129,127,127,0.30);
								@include single-transition(all, 0.5s);
							}
						}
						&:last-child {
							border-right: none;
						}
					}
					&:after{
						clear:both;
						display: table;
						content: "";
					}
				}
			}
			.infoAdicionalProyecto{
				@include transition( (opacity .5s linear, z-index .5s linear) );
				
			}
		}
		.descripcionProyecto{
			@include transition( (opacity .5s linear, z-index .5s linear) );
			font: $seccionTexto;
			color: $colorTextoGrisOscuro;
			margin-top: 185px;
			margin-bottom: 80px;
			@include box-sizing (border-box);
			cite{
				font: $articuloCaption;
			}
			img{
				@include imagestyle;
			}
			figure{
				figcaption{
					font: $articuloCaption;
					margin-top: 5px;
					margin-bottom: 15px;
				}
			}
			h1{
				@include hiddenelement;
			}
			h2{
				font: $articuloTitulo;
				margin-top: 20px;
				margin-bottom: 10px;
				color: $colorTextoGrisOscuro;
			}
			p{
				margin-top: 30px;
				margin-bottom: 30px;
				font: $articuloTexto;
				color: $colorTextoGrisOscuro;
			}
		}
		.reaccionesProyecto{
			@include transition( (opacity .5s linear, z-index .5s linear) );
			font: $seccionTexto;
			color: $colorTextoGrisOscuro;
			margin-top: 80px;
			margin-bottom: 80px;
			@include box-sizing (border-box);
			h1{
				@include hiddenelement;
			}
			section{
				h2{
					font: $articuloTitulo;
					color: $colorTextoGrisOscuro;
					padding-top: 30px;
					padding-bottom: 25px;
					margin:0px;
				}
				article{
					margin:0px;
					padding-top: 25px;
					padding-bottom:25px;
					border-bottom: $greyLine;
					h3{
						font: $articuloSubtitulo;
						padding-bottom:10px;
						color: $colorTextoGrisOscuro;
						a{
							border-bottom:none;
							color: $colorTextoGrisOscuro;
						}
					}
					h4{
						font: $articuloCaption;
						color: $colorTextoGrisOscuro;
						padding-bottom: 12px;
						&:first-child{
							padding-bottom: 0px;
						}
						&:last-child{
							padding-bottom: 0px;
						}
					}
					p {
						padding-top:8px;
						font: $articuloTexto;
						color: $colorTextoGrisOscuro;
					}
					&:first-child{
						border-top: $greyLine;
					}
					&.tweets{
						padding-bottom:22px;
						.tweet{
							@include box-sizing (border-box);
							display: table;
							height: 40px;
							padding:0px 0px 8px 0px;
							margin:0px;
							&:last-child{
								padding:0px 0px 0px 0px;
							}
							.twitterImagenPerfil{
								@include box-sizing (border-box);
								display:table-cell;
								vertical-align: middle;
								padding:5px 8px 0px 0px;
								margin:0px;
								height: 40px;
								img{
									padding:0px;
									margin:0px;
								}
							}
							p.tweetTexto{
								display:table-cell;
								width:70%;
								padding:0px;
								margin:0px;
								vertical-align: middle;
								font: $articuloCaption;
								.twitterNombre{
									color: black;
								}
							}
							.tiempo{
								display:table-cell;
								width:30%;
								text-align: right;
								vertical-align: top;
								font: $articuloCaption;
								color: $colorTextoGrisClaro;
							}
						}
					}
					&.articuloPrensa, &.articuloBlog{
						overflow: auto;
						width: 100%;
						.imagenArticulo{
							img{
								@include imagestyle;
							}
							float: left;
							clear: both;
						}
						.textoArticulo{
							margin-left:170px;
							margin-top: 4px;
							p{
								overflow: hidden;
								line-height: 24px;
								height: 48px;
							}
							h4{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
		.imagenesProyecto{
			@include transition( (opacity 1.0s linear, z-index 1.0s linear) );
			background-color: black;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			z-index: -100;
			.imagenFullScreen{
				@include transition( (opacity 1.0s linear, z-index 1.0s linear) );
				h2{
					@include hiddenelement;
				}
				position: absolute;
				top:0px;
				left:0px;
				background-size: cover;
				z-index: -90;
				width: 100%;
				height: 100%;
			}
			.infoImagenesProyecto{
				@include box-sizing (border-box);
				background-color: rgba(0,0,0,0.7);
				background-image: none;
				width:100%;
				height:90px;
				z-index:500;
				bottom:0px;
				position:fixed;
				.selectorImagenes{
					display: table;
					margin: 0px auto;
					ul{
						padding-top:5px;
						li{
							display: inline;
							cursor: pointer;
							float:left;
							margin-left:5px;
							margin-right:5px;
							text-shadow: none;
							a{	
								display: none;
							}
							&:after{
								@include user-select(none);
								color:#5A5A5A;
								content:"\25CF";
								font-size: 20px;
								@include single-transition(color, 1.0s);
							}
							&:hover:after{
								color:#B6B6B6;
							}
							&:active:after{
								color: white;
							}
							&.activo:after{
								color: white;
							}
						}
						&:after{
							clear:both;
							display: table;
							content: "";
						}
					}
				}
				.captionImagenes{
					div{
						@include transition( (opacity 1.0s linear, z-index 1.0s linear) );
						display:none;
						text-align: center;
						margin: 0px auto;
						z-index: -1;
						opacity: 0;
						&.activo{
							display: table;
							z-index: 100;
							opacity: 1;
						}
						p{
							font: 15px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
							color: white;
							padding: 0px;
							padding-top:10px;
							margin: 0px;
							height: 40px;
							display:block;
							vertical-align:middle;
							display: table-cell;
						}
					}
				}
			}
		}
	}
}

/* Definicion de los distintos estados de visualización en funcion del modo seleccionado*/
/* Tres modos: descripcion, imagenes y reacciones */

body{
	&.descripcion{
		.resumenProyecto{
			z-index: 110;
			opacity: 1;
			.infoAdicionalProyecto{
				z-index: -1;
				opacity: 0;
			}
		}
		.descripcionProyecto{
			z-index: 100;
			opacity: 1;
		}
		.imagenesProyecto{
			z-index: -1;
			opacity: 0;
			display: none;
		}
		.reaccionesProyecto{
			z-index: -1;
			opacity: 0;
			display: none;
		}
	}
	&.imagenes{
		.resumenProyecto{
			@include transition( (opacity .5s linear) );
			z-index: 110;
			opacity: 1;
			@include border-radius( 5px,  5px);
			@include box-shadow( #404040 0 2px 5px);
			.navegacion, .infoProyecto{
				@include transition( (opacity .5s linear, z-index .5s linear) );
			}
			.infoAdicionalProyecto{
				z-index: 100;
				opacity: 1;
			}
			&.fade{
				opacity: 0.2;
				@include box-shadow(none);
				.navegacion{
					z-index: -1;
					opacity:0;
				}
				.infoProyecto{
					z-index: -1;
					opacity:0;
				}
			}
		}
		.descripcionProyecto{
			z-index: -1;
			opacity: 0;
			display: none;
		}
		.imagenesProyecto{
			z-index: 100;
			opacity: 1;
			.imagenFullScreen{
				z-index: -1;
				opacity: 0;
				&.activo{
					z-index: 100;
					opacity: 1;
				}
			}
		}
		.reaccionesProyecto{
			z-index: -1;
			opacity: 0;
			display: none;
		}
	}
	&.reacciones{
		.resumenProyecto{
			z-index: 110;
			opacity: 1;
			.infoAdicionalProyecto{
				z-index: -1;
				opacity: 0;
			}
		}
		.descripcionProyecto{
			z-index: -1;
			opacity: 0;
			display: none;
		}
		.imagenesProyecto{
			z-index: -1;
			opacity: 0;
			display: none;
		}
		.reaccionesProyecto{
			z-index: 100;
			opacity: 1;
		}
	}
}

@mixin mainnaveffect($totalWidth, $columnWidth, $gutterWidth) {
	.cabeceraPagina{
		.contenedor{
			width: $totalWidth +  2*$gutterWidth;
			#fading{
				position:absolute;
				top:156px;
				border-top: 1px solid white;
				height: 10px;
				opacity:0;
				width: 2*$columnWidth + 3*$gutterWidth;
			}
		}
	}
}

@mixin contenedor($totalWidth, $columnWidth, $gutterWidth){
	.contenedor{
		width: $totalWidth;
		.indexTitle{
			margin-left: - $totalWidth/2 - 2;
			width: $columnWidth*2 + $gutterWidth + 2;
		}
		.resumenProyecto{
			width: $columnWidth + 2*$gutterWidth;
			margin-left: $columnWidth/2;
			padding: $gutterWidth $gutterWidth $gutterWidth*3/2 $gutterWidth;
			.navegacion{
				&.botones3{
					ul{
						width: floor($columnWidth/3) * 3;
						 li{
							width: floor($columnWidth/3);
						}
						li:last-child {
							width: - 2px + floor($columnWidth/3);
						}
					}
				}
				&.botones2{
					ul{
						width: floor($columnWidth/2) * 2;
						 li{
							width: floor($columnWidth/2);
						}
						li:last-child {
							width: - 2px + floor($columnWidth/2);
						}
					}
				}
			}
			.infoAdicionalProyecto{
				width: $columnWidth;
				margin-left: 0px;
				padding: 0px;
				margin-right: $gutterWidth;
				margin-top: $gutterWidth;
				.infoImagenesProyecto{
					width: $columnWidth + 2*$gutterWidth;
					margin-left: -$gutterWidth;
					padding: 5px $gutterWidth 0px $gutterWidth;
				}
			}
		}
		.descripcionProyecto{
			width: 2*$columnWidth + $gutterWidth;
			margin-left: 0px;
			img{
				width:  2*$columnWidth + $gutterWidth - 2;
			}
		}
		.reaccionesProyecto{
			width: 2*$columnWidth + $gutterWidth;
			margin-left: 0px;
		}
		.imagenesProyecto{
			.infoImagenesProyecto{
				.captionImagenes{
					div{
						width:$totalWidth;
					}
				}
			}
		}
	}
}

//Tablets
@media (max-width: 989px) {
	@include mainnaveffect(728px, 228px, 20px);
	@include contenedor(728px, 228px, 20px);
	body .contenedor .reaccionesProyecto section article.tweets .tweet p.tweetTexto {
		width:84%;
	}
	#fading{
		margin-left: -20px;
		background-image: url(../imagenes/sombra-516.png);
	}
}
//Normal screens
@media (min-width: 990px) {
	@include mainnaveffect(940px, 300px, 20px);
	body .contenedor .reaccionesProyecto section article.tweets .tweet p.tweetTexto {
		width:80%;
	}
	#fading{
		margin-left: -20px;
		background-image: url(../imagenes/sombra-660.png);
	}
	@include contenedor(940px, 300px, 20px);
}
//Big screens
@media (min-width: 1240px) {
	@include mainnaveffect(1170px, 370px, 30px);
	#fading{
		margin-left: -30px;
		background-image: url(../imagenes/sombra-830.png);
	}
	body .contenedor .resumenProyecto{
		top: 95px;
	}
	@include contenedor(1170px, 370px, 30px);
}