@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "fonts/fontfaces";
@import "_general";
@import "_cabecerapaginaResponsive";
@import "_footerpaginaResponsive";
@import "_subnav-nueva";


$colorTextoGrisOscuro: #393939;
$colorTextoGrisClaro: #898989;
$borderGrey: #BEBEBE;
$innerborderGrey: #C9C9C9;
$greyLine: 1px solid #DADADA;

$seccionTitulo: 26px/30px "colaborativaMedium";
$seccionSubtitulo: 16px/20px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
$articuloTitulo: 18px/23px "colaborativasemibold";
$articuloSubtitulo: 14px/24px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;

a:link, a:visited, a:active{
	text-decoration: none;
	color: $colorTextoGrisOscuro;
}


@mixin imagestyle{
	@include box-sizing (border-box);
	background:white;
	border: 3px solid white;
	@include border-radius(2px, 2px);
	@include single-box-shadow(rgba(0,0,0,0.4), 0px, 0px, 3px, false, false);
}

html{
	height: 100%;
	body{
		background-image: url(/imagenes/background.png);
		background-repeat: repeat;
		background-color: rgb(250,250,250);
		.cuerpoPagina{
			margin-top: 125px;
			min-height: 400px;
			min-width:0px;
			.contenedor{
				margin-right: auto;
				margin-left: auto;
				@include box-sizing (border-box);
				h1.big{
					@include hiddenelement;
				}
				.seccionProyectos{
					padding-top: 35px;
					padding-bottom: 35px;
					.descripcion{
						height: 70px;
						h2{
							margin-top:10px;
							margin-bottom:14px;
							font: $seccionTitulo;
							color: $colorTextoGrisOscuro;
						}
						p{
							font: $seccionSubtitulo;
							color: $colorTextoGrisOscuro;
						}
						border-bottom: $greyLine;
						padding-bottom: 15px;
						margin-bottom: 25px;
					}
					.proyectos.Portfolio.Destacados{
						padding-top: 0px;
						margin-top: 15px;
						.proyecto{
							border: none;
							@include box-sizing (border-box);
							padding:3px 0px 25px 0px;
							margin:0px;
							float: left;
							border-bottom-style: none;
							.imagenProyecto {
								margin: 0px;
								img{
									@include imagestyle;
								}
								margin-bottom: 15px;
							}
							.infoProyecto{
								h1{
									font: $articuloTitulo;
									color: $colorTextoGrisOscuro;
								}
								h2{
									margin-top:10px;
									font: $articuloSubtitulo;
									color: $colorTextoGrisOscuro;
								}
							}
						}
					}
					.proyectos.Portfolio.Secundarios{
						margin:0px;
						.proyecto{
							padding:25px 0px 25px 0px;
							margin:0px;
							border-top: $greyLine;
							border-bottom: $greyLine;
							float: left;
							@include box-sizing (border-box);
							.infoProyecto{
								h1{
									font: $articuloTitulo;
								}
								h2{
									margin-top:10px;
									font: $articuloSubtitulo;
									color: $colorTextoGrisOscuro;
								}
							}
						}
					}
				}
			}
		}
	} 
}


@mixin responsivelayout($totalWidth, $columnWidth, $columnGap, $projectHeight, $projectHeight2){
	html{
		body{
			.cuerpoPagina{
				width:100%;
				.contenedor{
					@include box-sizing (border-box);
					width: $totalWidth - $columnGap;
					.seccionProyectos{
						margin-left: -$columnGap;
						.descripcion{
							margin-left: $columnGap;
						}
						.proyectos.Portfolio.Destacados{
							width: $totalWidth;
							.proyecto{
								width:$columnWidth;
								margin-left: $columnGap;
								height: $projectHeight;
								&:hover{
								};
								.imagenProyecto{
									img{
										width:$columnWidth;
										height:$columnWidth/(16/9);
									}
								}
								.infoProyecto{
									width:$columnWidth;
								}
							}
						}
						.proyectos.Portfolio.Secundarios{
							width: $totalWidth;
							.proyecto{
								width:$columnWidth;
								margin-left: $columnGap;
								height: $projectHeight2;
								.infoProyecto{
									width: $columnWidth;
								}
							}
						}
					}
				}
			}
		} 
	}
}

//
//Responsive Settings
//
//Tablets
@media (max-width: 989px) {
	@include responsivelayout(728px, 228px, 20px, 310px, 157px);
}
//Normal screens
@media (min-width: 990px) {
	@include responsivelayout(960px, 300px, 20px, 310px, 157px);
}
//Big screens
@media (min-width: 1240px) {
	@include responsivelayout(1200px, 370px, 30px, 350px, 157px);
}

