{% comment %}
Hay un problema con twitter, API search no encuentra cosas antiguas por eso en development seed utilizan la API count para tener un recuento de tweets antiguos http://search.twitter.com/search.json?since_id=205583996288118784&q=developmentseed.org%2Fblog%2F2011%2Fapr%2F12%2Funited-nations-reliefweb-relaunches
Sin embargo topsy si que mantiene las llamadas antiguas
http://otter.topsy.com/trackbacks.json?url=
{% endcomment %}

<section class="listadoReacciones">
	<hgroup>
		<h3>{{ site.listado-reacciones-titulo.[page.language] }}</h3>
		{% if page.category == "articulos" %}
		<h4>{{ site.listado-reacciones-articulo-texto.[page.language] }}</h4>
		{% else %}
		<h4>{{ site.listado-reacciones-proyecto-texto.[page.language] }}</h4>
		{% endif %}
	</hgroup>
	<div class="tweetButton">
		<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<section id="follow">
		<ul></ul>
	</section>
	<div class="contenedorPie"></div>
	<!--'q=colaborativa.eu{{ page.url | xml_escape }}',-->
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script id="flickrTemplate" type="text/x-jquery-tmpl">
		<li>
			<div class="reaccionesIcono" style="background: url(${author.photo_url}) center center no-repeat"></div>
			<div class="subcategoryPopUp2">
				<span class="triangulo"></span>
				<p>@${author.nick}: ${content}. <a href="${permalink_url}">${date_alpha}</a></p>
			</div>
		</li>
	</script>
	<script type="text/javascript">
	<!-- This is the jQuery Ajax request to Flickr that populates the data fed to the template -->
	$(document).ready(function()
	{
		$.ajax({
			url: "http://otter.topsy.com/trackbacks.json",
			data: "q=http://colaborativa.eu{{ page.url | xml_escape }}",
			dataType: "jsonp",
			success: function(data)
			{
				$("#flickrTemplate").tmpl(data.response.list).appendTo("#follow ul");
			}
		});
	});
	</script>
</section>
