{% if item.auto-traduccion %}
{% capture temp %}{{ item.url}}#googtrans(es|en){% endcapture %}
{% assign url = temp  %}
	{% if item.language == "es" %}
		{% assign language = "en" %}
		{% assign traduccion = " goog-trans-section" %}
	{% else %}
		{% assign language = "es" %}
		{% assign traduccion = " goog-trans-section" %}
	{% endif %}
{% else %}
	{% assign url = item.url %}
	{% if item.language == "en" %}
		{% assign language = "en" %}
		{% assign traduccion = "" %}
	{% else %}
		{% assign language = "es" %}
		{% assign traduccion = "" %}
	{% endif %}
{% endif %}
<article class="nodoLista{{ traduccion }}" lang="{{ language }}">
	<div class="imagenNodoLista">
		<a href="{{ item.url }}" style="background: url(http://{{ item.imagen }}.jpg) center center no-repeat"></a>
	</div>
	<div class="infoNodoLista">
		<div class="cabeceraNodo">
			<p class="additionalInfo">{% include _inline-fecha-autor.html %}</p>
			<hgroup>
				<h1><a class="titulo {% if item.auto-traduccion %}resaltado{% endif %}" href="{{ item.url }}">{{ item.title }}</a></h1>
				<h2 class="{% if item.auto-traduccion %}resaltado{% endif %}">{{ item.subtitulo }}</h2>
			</hgroup>
		</div>
		<div class="cuerpoNodo {% if item.auto-traduccion %}resaltado{% endif %}">
			{{ item.content | strip_html | truncate: 275 }} {{ site.inline-leermas.[item.language] }}
		</div>
	</div>
	<div class="contenedorPie"></div>
</article>