{% for item in page.enlaces %}
	{% if item.type == 'slideshow-flickr'  %}
		<object width="650" height="433">
			<param name="flashvars" value="offsite=true&lang=es-us&page_show_url=%2Fphotos%2F{{ item.User }}%2Fsets%2F{{ item.ID }}%2Fshow%2F&page_show_back_url=%2Fphotos%2F{{ item.User }}%2Fsets%2F{{ item.ID }}%2F&set_id={{ item.ID }}&jump_to="></param> 
			<param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> 
			<param name="allowFullScreen" value="true"></param>
			<embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=es-us&page_show_url=%2Fphotos%2F{{ item.User }}%2Fsets%2F{{ item.ID }}%2Fshow%2F&page_show_back_url=%2Fphotos%2F{{ item.User }}%2Fsets%2F{{ item.ID }}%2F&set_id={{ item.ID }}&jump_to=" width="650" height="433">
			</embed>
		</object>
	{% endif %}
{% endfor %}