{% assign numero-de-articulos = 2 %}

{% assign contador = '' %}
{% assign contador = temp %}
{% capture temp %}{{ contador }}*{% endcapture %}
{% assign an_integer = contador.size %}

<!DOCTYPE html>
<html lang="{{ page.language }}">
	<head>
		<title>{{ site.titulo }} | {{ site.subtitulo.[page.language] }}</title>
		<meta charset='UTF-8'/>
		{% include _scripts.html %}
		{% include _socialmeta.html %}
	</head>
	<body>
		{% include _header.html %}
		<section class="cuerpoPagina Inicio">
			<div class="contenedor Inicio">
				<div class="imagenInicio">
					<div id="slides">
						<div class="slides_container">
							{% for banner in site.categories.proyectos %}
								{% if banner.language == page.language %}
								{% if banner.en-cabecera %}
								<div>
									<a href="{{ banner.url }}">
										<img src="http://{{ banner.imagen-cabecera }}_b.jpg" alt="{{ banner.title }}" title="{{ banner.title }}">
									</a>
								</div>
								{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="listadoNodos Inicio">
					{% for item in site.categories.articulos %}
						{% if item.language == page.language %}
							{% capture temp %}{{ contador}}*{% endcapture %}
							{% assign contador = temp %}
							{% assign an_integer = contador.size %}
							{% if an_integer <=  numero-de-articulos %}
								{% include _nodolista-articulo.html %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
				<div id="columnaTres">
					{% include _listado-categorias-proyectos.html %}
					{% include _main-tweet.html %}
				</div>
				<div class="contenedorPie"></div>
			</div>
		</section>
		{% include _footer.html %}
		{% if page.language == "es" %}
			{% include _script-translate-en-es.html %}
		{% else %}
			{% include _script-translate-es-en.html %}
		{% endif %}
	</body>
</html>