<!DOCTYPE html>
<html lang="{{ page.language }}">
	<head>
		<title> {{ site.titulo }} {{ site.version }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _socialmeta-portfolio-proyectos.html %}
		<link href="/css/screen-equipo.css" media="screen, projection" rel="stylesheet" type="text/css" />
		{% include _scripts-portfolio-proyectos-top.html %}
		<script src='/javascripts/libs/bootstrap-scrollspy.js' type='text/javascript'></script>
	</head>
	<body class="{{ page.template }}" data-spy="scroll">
		{% include _header-responsive.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h1 class="big">{{ site.navegacion-equipo.[page.language] }}</h1>
				<div class="subnav">
					<ul class="nav">
						<li><a href="#categoria1"><span>{{ page.capitulo1-titulo }}</span></a></li>
						<li><a href="#categoria2"><span>{{ page.capitulo2-titulo }}</span></a></li>
						<li><a href="#categoria3"><span>{{ page.capitulo3-titulo }}</span></a></li>
					</ul>
				</div>
				<section id="categoria1" class="clearfix">
					<h1>{{ page.capitulo1-titulo }}</h1>
					<article>{{ page.capitulo1-descripcion }}</article>
				</section>
				<section id="categoria2" class="clearfix">
					<h1 >{{ page.capitulo2-titulo }}</h1>
					<div class="listadoColaborativos">
						<article>{{ page.capitulo2-descripcion }}</article>
						{% for item in site.categories.equipo %}
							{% if item.language == page.language %}
								<article class="colaborativo">
									<div class="imagenColaborativo">
										<a href="{{ item.url }}" style="background: url(http://{{ item.imagen }}.jpg) center center no-repeat"></a>
									</div>
									<div class="textoColaborativo">
										<hgroup>
											<h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
											<h3>{{ item.subtitulo }} </h3>
										</hgroup>
									</div>
								</article>
							{% endif %}
						{% endfor %}
					</div>
				</section>
				<section id="categoria3" class="clearfix">
					<h1 class="">{{ page.capitulo3-titulo }}</h1>
					<div class="listadoColaboradores">
						<article>{{ page.capitulo3-descripcion }}</article>
						{% for item in site.categories.colaboradores %}
							<article class="colaborador">
								<div class="imagenColaborador">
									<a href="{{ item.url }}" style="background: url(http://{{ item.imagen }}.jpg) center center no-repeat"></a>
								</div>
								<div class="textoColaborador">
									<hgroup>
										<h2><a href="">{{ item.title }}</a></h2>
										<h3>{{ item.subtitulo.[page.language] }} </h3>
									</hgroup>
								</div>
							</article>
						{% endfor %}
					</div>
				</section>
		</section>
		{% include _footer-responsive.html %}
		{% include _scripts-portfolio-proyectos-bottom.html %}
	</body>
</html>