<!DOCTYPE html>
<html lang="{{ page.language }}">
	<head>
		<title> {{ site.titulo }} {{ site.version }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _socialmeta-home.html %}
		<link href="/css/screen-home.css" media="screen, projection" rel="stylesheet" type="text/css" />
		{% include _scripts-home-top.html %}
	</head>
	<body>
		{% include _header-responsive.html %}
		<div class="contenedor">
			<div class="posterProyecto" style="background: url(/imagenes/proyectos/janes-walk-cordoba-2012-poster.jpg) center center no-repeat">
			</div>
			<div class="selectorProyectos">
				<ul>
					{% for proyecto in site.categories.proyectos %}
						{% if proyecto.language == page.language %}
							{% if proyecto.en-cabecera %}
								{% if forloop.first %}
								<li class="activo"><a href="#{{ proyecto.slug }}">{{ proyecto.slug }}</a></li>
								{% else %}
								<li><a href="#{{ proyecto.slug }}">{{ proyecto.slug }}</a></li>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<section class="novedades clearfix">
				<h1>Novedades</h1>
				<section class="novedadesArticulos">
					<h2>Últimos tres artículos de nuestro Blog</h2>
					{% assign numero-de-articulos = 3 %}
					<div class="articulosLista clearfix">
					{% assign contador = '' %}
					{% assign contador = temp %}
					{% capture temp %}{{ contador }}*{% endcapture %}
					{% assign an_integer = contador.size %}
					
					{% for item in site.categories.articulos %}
						{% if item.language == page.language %}
							{% capture temp %}{{ contador}}*{% endcapture %}
							{% assign contador = temp %}
							{% assign an_integer = contador.size %}
							{% if an_integer <=  numero-de-articulos %}
								<article class="articuloBlog">
									<div class="imagenArticulo">
										<a href="{{ item.url }}" style="background: url(http://{{ item.imagen }}.jpg) center center no-repeat"></a>
									</div>
									<div class="textoArticulo">
										<hgroup>
											<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
											<h4>{{ item.subtitulo }} </h4>
										</hgroup>
									</div>
								</article>
							{% endif %}
						{% endif %}
					{% endfor %}
					</div>
					<p><a>Leer más artículos en nuestro Blog</a></p>
				</section>
				<section class="novedadesTweets ">
					<h2>Último tweet</h2>
					<div class="tweetsLista clearfix">
						<article>
							<h3 class="tweetContenido parrafo">RT @<a class="twitter-anywhere-user" href="http://twitter.com/tarquia">tarquia</a>: Asana: Aplicación. The way to work toguether Do Great Things.Asana is the shared task list for your team. The p... http:// ...</h3>
							<span class="tweetAtributos">
							<p class="tweetFecha tweet"><a class="tweetFecha-link listadoTitulo" data-timestamp="Thu, Jul 26 2012 11:43:39 +0000" href="http://twitter.com/tarquia/status/228455539082940400" target="_blank" title="Thu Jul 26 2012 13:43:39 GMT+0200 (CEST)">hace 1 hora</a></p>
							</span>
						</article>
					</div>
					<p class="tweetInfo tweet">Retuiteado por <a class="tweetInfo-retweeter-link listadoTitulo" href="http://twitter.com/colaborativaeu" target="_blank">colaborativaeu</a></p>
				</section>
			</section>
		</div>
		{% include _footer-responsive.html %}
		{% include _scripts-portfolio-proyectos-bottom.html %}
	</body>
</html>